body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(235, 236, 238);
    text-align: center;
    color: black
}

h1 {
    width: 100%;
    color: rgb(68, 159, 127);
}

h2 {
    font-size: large;
    color: rgb(33, 84, 66);
}
.intro {
    width: 70%;
    margin: auto;
    padding: 10px;
    
}
.albums {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img { 
    width: 800px;
    height: 800px;
    max-width: 100%;
    height: auto;
}
a {
    color: white;
}

.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
}

.Slides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}

.KOL, .Paolo, .Alanis {
    width: 30%;
    position: relative;
    float:left;
    display: block;
    font-size: 90%;
    padding: 1%;
}
.albums p {
    text-align: justify;
}

ul {
    list-style: none;
    text-align: center;
    margin-left: -10%;
}

.button {
    width: 100px;
    height: 20px;
    background-color: rgb(101, 189, 158);
    padding-block: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.button:hover {
    background-color: rgb(53, 128, 101);
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: black;
    font-size: 60%;
}
